D:\coding\.venv
D:\coding\.vscode
D:\coding\asset
D:\coding\html and css\Netflix clone\asset
D:\coding\html and css\Netflix clone\asset\88700655-35b7-40a6-9511-49e6ee49e1d6.jpg
D:\coding\html and css\Netflix clone\asset\Alternative poster for Oppenheimer - Vera Shurkus.jpg
D:\coding\html and css\Netflix clone\asset\Beauty and the Beast 2017 - 13x19 D_S Original Promo Movie Poster _ eBay.jpg
D:\coding\html and css\Netflix clone\asset\Demon Slayer (Kimetsu no yaiba) Infinity Castle will release on Sep 12 2025.jpg
D:\coding\html and css\Netflix clone\asset\Fan Art_ Big Hero 6_.jpg
D:\coding\html and css\Netflix clone\asset\LCU Lokiverse.jpg
D:\coding\html and css\Netflix clone\asset\Project_ Superheroes - Đức Việt.jpg
D:\coding\html and css\Netflix clone\asset\Superman Poster!.jpg
D:\coding\html and css\Netflix clone\asset\Wow_ Zootopia is both entertaining and thoughtful….jpg