*{
    box-sizing: border-box;
    padding: 8px; 
}
nav{
    height: 80px;
    background: linear-gradient( #EF5097, #fff ,#fdcc09,deg(90));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw-1300px)/2);
    margin-bottom: 35px;
}
.logo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    font-size: 1.5rem;
    font-weight:bold;
    font-style: italic;
    padding: 0.2rem;

}
html {
    font-family: "didot";
  }
  
  h2 {
    background: #df5959;
    font-size: 30px;
    align-items: center;
    margin: 12px -25px -42px 24px;
    writing-mode: vertical-lr;
    text-align: center;
    line-height: 0.9;
    
  }
  
  .rotate {
     transform: rotate(180deg);
  }
  
  .rtext {
    display: grid;
    height: 100vh;
    justify-content: center;
    align-content: center;
    grid-template-columns: max-content max-content;
  }
.nav-items{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    text-shadow: -15px 5px 20px #ced0d3;
    top: 15%;
    left: 43%;
    transform: translate(31%,-103%);
    letter-spacing: 0.02em;
    text-align: center;
    color: #F9f1cc;
    text-shadow: 
    1px 3px 0px #FFB650,
    3px 5px 2px #FFD662,
    5px 6px 4px #FF80BF, 
    6px 8px 6px #EF5097, 
    7px 11px 8px #6868AC,
    8px 10px 10px #90B1E0;
}
nav a{
    text-decoration: none;
    color: rgb(125 7 7);
    padding: 0 1.5rem;
}
.hero{
    background: #f5deb3;
}
.hero-container{
    font-family: 'Glass Antiqua',Arial, Helvetica, cursive;
    font-size: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    align-items: stretch;
    justify-items: stretch;
    background: #f5deb3;
}
.column-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color:#000;
    padding: 0rem 4rem;
}
.column-left{
    margin-bottom: 1rem;
    font-size: 3rem;
}
.column-left p{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1.5;
}
button{
    padding: 1rem 3rem;
    font-size: 1rem;
    color: #fdcc09;
    background: #000;
    cursor: pointer;
    border-radius: 50px;
}
button:hover{
    background: #fff;
    color: #000;
}
.column-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

img{
    height: 429px;
    width: 306px;
    border-radius: 11px;
    background: #f5deb3;
    box-shadow:  10px 10px 20px #7f735d,
                 -10px -10px 20px #ffffff;
}
@media screen and (max-width:768px){
    .hero-container{
        grid-template-columns: 1fr;
    }
}
    