body{
    /* background-color: #44cf6c; */
}
.cantainer{ 
    height: 14vh;
    font-size: x-small;
    /* background: linear-gradient(90deg, #00ff87, #60EFFF); */
    display: flex;
    flex-direction: row;
    flex-wrap: inherit;
    margin: auto;
    img{
        height:auto;
    }
    }
    label{
        font-family: math;
    font-size: x-large;
    font-weight: 600;
    }
    .item h1{
        font-size:auto;
        font-stretch: condensed;
    }
    .item h2{
        font: size auto;
    }
    .item{
    color: rgb(0, 0, 0);
    margin: auto;
    }
    select{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-decoration: dashed;
        border: none;
        padding: initial;
        text-align: center;
        font-size: x-large;
    }
    .imgcantain{  
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            flex-direction: row;
            width: 50vh;
            margin: auto;
            text-align: center;

        }
    .img-item img{
        height: 120px;
        width: 120px;
        border-radius: 5%;
    }
    .img-cantainer{
        padding: 26px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        }
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    flex-direction: row;
}
section{
    border-radius: 3%;
    /* background: linear-gradient(90deg, #6ff7e8, #1f7ea1); */
    h1{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 100%;
        padding:7px;
    }
}
