h1{
    font-size:40px;
    color: brown;
    text-align: center;
}
button{
    font: size 10px;
    padding: 60px;
    border: solid red;

}
.cantainer{
    color: orange;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}