.headline {
background-color:orange;
padding:10px;	
}
.games-types {
border:solid 3px darkgreen;
padding:20px;

}
h6{background-color: #000000;
	color: white;
	text-align:center;
}
div{
	text-align:center;
}