.cantainer{ 
    height: 15vh;
    font-size: 10px;
    background:linear-gradient(1deg,blue,pink,white);
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: inherit;

    }
    .item{
    color: rgb(0, 0, 0);
    margin: 1.5px ;
    padding-left:2px;
    }
    .item h1{
        font-size:20px ;
    }
    .item h2{
        font: size 5px;;
    }
    .img-cantainer{
        display: block;
        display: inline;
        display: flexbox;
        flex-direction: row;
    }