body,html{
    height: 100%;
}
*{
    box-sizing: border-box;
}
.container{
    padding: 17px 4px 0px 26px;
    margin-left: 473px;
}
img{
   
    height: 447px;
    width: 340px;
    margin-left: 715px;
    margin-top: -376px;
}
button{
    font-size: 33px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    border-color: transparent;
    background-color: transparent;
    

}
p{
    font-family:Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-size: 30px;
    display: block;
    background-color: transparent;
}
.para{
    width: 618px;
    padding-left: 60px;
    margin: 94px 0 36px 95px;
    display: inline-block;
    background-color: transparent;
}
.image1{
    border-radius: 35px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: inset 18px -18px 36px #11322d,
            inset -18px 18px 36px #256e61;
}
nav{
        margin: 0;
}
.bg_image{
    background-image: url(bgimage.jpg);
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bgtext{
    background-color: rgba(31, 29, 29, 0);
    background-color: rgba(0, 0, 0, 0.144);
    position: absolute;
    color-scheme: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 51%;
    left: 45%;
    transform: translate(-49%,-48%);
    z-index: 2;
    width: 53%;
    padding: 0px;
    text-align: left;
}