*{
    padding: 0;
    margin:0;
    box-sizing: border-box;

}

.parent{
    .horinav{
            display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
        flex-direction: row;
}
}
nav{
    margin: 20px;
    /* padding: 30px; */
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 10;
    img{
        height: 30px;
        margin-bottom: 60px;
    }
} 

.cantainer{
    /* width: 100%;
    columns: 5;
    column-gap: 15px;
    padding: 15px; */
    column-width: 250px;
    flex-direction: row;
    margin: 9px 0px 0px 76px;
    img{
        width: 100%;
        border-radius: 5%;
        margin-bottom: 15px;
    }
    position: absolute;
}
input {
    font-family: serif;
    border-radius: 10px;
    border: none;
    background: rgb(202, 223, 205);
    padding: 16px 500px 16px 1px;
    margin: 1vh 1vh 1vh 12vh;
}
input:focus{
    outline : none;
}

   .profile {
        display: flex
;
    align-items: center;
    padding: 16px;

         .dropbtn {
               background-color: red;
        /* padding: 0px 0px 1px 0px; */
        width: 35px;
        height: 35px;
        margin: 0px 5px 0px 0px;
        border: none;
        border-radius: 20%;
        cursor: pointer; 
    }

    .dropbtn:hover,
    .dropbtn:focus {
        color: blanchedalmond;
        border:none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
          border-radius: 10px;
    }

    .dropdown-content {
    display: none;
    position: absolute;
    border-radius: 10px;
    background-color: #98bdf1;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}
   
    .account a{
        button{
            color: rgb(0 0 0);
            font-family: inherit;
            border: hidden;
            font-weight: 500;
            background-color: #f0ffdb;
            padding: 5px;
            border-radius: 5px;
        }
       
    }
    .dropdown-content a,h3,h4,img{
        color: black;
        padding: 2px 0px 5px 22px;
        text-decoration: none;
        display: block;
        font-family: system-ui;
        font-size: medium;
    }
    .drheading{
        color: rgb(0, 0, 0);
        padding: 7px 0px 4px 18px;
        text-decoration: none;
        display: block;
        font-family: monospace;
    }

    .dropdown-content a:hover {
        background-color: #677653;
    }

    .show {
        display: block;
    }
    }