.gredient1{
background:linear-gradient(to right,#ee9ca7,#ffdde1);
} 
.gredient2{
background: linear-gradient(to right,#2193b0,#6dd5ed);
}
.gredient3{
background: linear-gradient(90deg,#00416A,#E4E5E6);
	
}
.gredient4{ 
background: linear-gradient(90deg, #334d50,#cbcaa5);
	}
h1{
border-radius:20px;
border:solid 4px white;
padding:10px;
}
body{
color:white;
text-align:center;
background-color:#faf5f1;
}